/* boton general */
.btn {
    background-color: #572239 !important;
    color: white;
}
.btn:hover{
    border-color: #572239;
}
/*  verde oscuro */
.dark-green{
    background-color: #2F6665 !important;
    color: white;
}
/* verde claro */
.light-green{
     background-color: #79B6B6 !important;
    color: black;
}
/* rosa claro */
.light-pink{
     background-color: #EDB0C9 !important;
    color: black;
}
/* forms input styles */
.green-inputs{
    border-color: #2F6665;
    border-radius: 65px;
    color:white;
}
.title{
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 76px;
    color:#2F6665;
}
